# environment variables
.env
.env.local
.env.development.local
.env.production.local

# node dependencies
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# logs and cache
logs/
*.log
*.tmp
*.bak
.cache/
temp

# system files
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp

## build outputs
dist/
build/
coverage/

# OS-specific
ehthumbs.db
Desktop.ini

# misc
test.js
sandbox.js
backup/